{% extends "bootstrap/base.html" %}

{% block title %}Admin Suite - LMS Library{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for("static", filename="styles/main.css") }}" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
{% endblock styles %}

{% block navbar %}
    {% include "nav.html" %}
{% endblock %}

{% block content %}
    <div id="alert">
        {% if error is defined %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error:</strong> {{ error }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <main class="mt-2 mb-2" role="main">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title mb-0 text-center">Books</h3>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <table class="table table-borderless table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Author</th>
                                        <th>Published Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for book in books %}
                                        <tr>
                                            <td>{{ book.id }}</td>
                                            <td>{{ book.title }}</td>
                                            <td>{{ book.author }}</td>
                                            <td>{{ book.published_date|replace(" 00:00:00 GMT", "") }}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger"
                                                        onclick="deleteAlert({{ book.id }}, {{ '"' + book.title + '"' }})">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div id="buttonForm">
                                <button type="button" class="btn btn-primary" onclick="turnIntoForm()">Add New Book
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function turnIntoForm() {
            document.getElementById("buttonForm").innerHTML = "<form method=\"post\">\n    <input type=\"hidden\" id=\"type\" name=\"type\" value=\"add\">\n    <div class=\"form-row\">\n        <div class=\"col\">\n            <input type=\"text\" id=\"title\" name=\"title\" class=\"form-control\" placeholder=\"Title\" autofocus required>\n        </div>\n        <div class=\"col\">\n            <input type=\"text\" id=\"author\" name=\"author\" class=\"form-control\" placeholder=\"Author\" required>\n        </div>\n        <div class=\"col\">\n            <input type=\"text\" id=\"published_date\" name=\"published_date\" class=\"form-control\" placeholder=\"Published Date\" required>\n        </div>\n        <div class=\"col\">\n            <button type=\"submit\" class=\"btn btn-primary btn-block\">Submit</button>\n        </div>\n    </div>\n</form>";
        }

        function resetAlert() {
            document.getElementById("alert").innerHTML = "";
        }

        function deleteAlert(id, title) {
            document.getElementById("alert").innerHTML = `<div class="alert alert-danger" role="alert">
    <form method="post">
        <input type="hidden" id="type" name="type" value="delete">
        <input type="hidden" id="id" name="id" value="${id}">
        <div class="form-row">
            <div class="col-10 d-flex align-items-center text-center">
                <div class="container-fluid">
                    Are you sure you want to delete <kbd>${title}</kbd>?
                </div>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-secondary btn-block">Yes</button>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-secondary btn-block" onclick="resetAlert()">No</button>
            </div>
        </div>
    </form>
</div>`;
        }
    </script>
{% endblock %}