{% extends "bootstrap/base.html" %}

{% block title %}Admin Suite - LMS Library{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for("static", filename="styles/login.css") }}" rel="stylesheet">
{% endblock styles %}

{% block content %}
    <form class="form-signin text-center" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}